<center> <h1> Wolkite University </h1> </center>
<center> <h2> College of Computing and Informatics </h2> </center>
<center> <h3> Department of Information Systems </h3> </center>
<center> <h3> Artificial Intelligence Course Laboratory Manual  </h3> </center>
<br>
<center><h3> Introduction to Python Programming Language </h3> </center>
<center><h3> Lab Exercises 1 </h3> </center>


<br>

In [69]:
name = input("Enter your Name: ")
id_number = int(input("Enter your Id number: "))
print(name, id_number)

Enter your Name: NEWAZ NEZIF
Enter your Id number: 1678
NEWAZ NEZIF 1678

1. Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

In [3]:
#Write your code here
for num in range(1500, 2701):
    if num % 7 == 0 and num % 5 == 0:
        print(num)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

2. Write a Python program to convert temperatures to and from Celsius and Fahrenheit.  <br>

**Hint**<br>
Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit]<br>

Expected Output : <br>
* 60°C is 140 in Fahrenheit
* 45°F is 7 in Celsius

In [10]:
#Write your code here
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9
celsius = 60
fahrenheit = celsius_to_fahrenheit(celsius)
print(f"{celsius}°C is {fahrenheit} in °F")

fahrenheit = 45
celsius = fahrenheit_to_celsius(fahrenheit)
print(f"{fahrenheit}°F is {celsius} in °C")

60°C is 140.0 in °F
45°F is 7.222222222222222 in °C

3. Write a Python program to count the number of even and odd numbers in a series of numbers <br>

**Hint**<br>
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)  <br>
Expected Output : <br>
Number of even numbers : 5 <br>
Number of odd numbers : 4 <br>

In [7]:
#Write your code here
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
even_num = 0
odd_num = 0

for num in numbers:
    if num % 2 == 0:
        even_num += 1
    else:
        odd_num += 1

print("Number of even numbers:", even_num)
print("Number of odd numbers:", odd_num)

Number of even numbers: 4
Number of odd numbers: 5

4. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.<br>

**Hint**<br>
Expected Output : 0 1 2 4 5

In [15]:
#Write your code here
for j in range(7):
    if j != 3 and j != 6:
        print(j, end=' ')

0 1 2 4 5

4. Write a Python program to reverse a number using loop.

In [21]:
#Write your code here
num= 251953652707
rev_num =0
while num>0 :
    remainder= num%10
    rev_num = ( rev_num*10)+ remainder
    num=num//10
    print(f" The reverse number of the number is {rev_num}")

 The reverse number of the number is 7
 The reverse number of the number is 70
 The reverse number of the number is 707
 The reverse number of the number is 7072
 The reverse number of the number is 70725
 The reverse number of the number is 707256
 The reverse number of the number is 7072563
 The reverse number of the number is 70725635
 The reverse number of the number is 707256359
 The reverse number of the number is 7072563591
 The reverse number of the number is 70725635915
 The reverse number of the number is 707256359152

5. Write a program to print n natural number in descending order using a while loop.<br>

**Hint**<br>
Enter a range : 10<br>

Expected output <br>
Result: 10  9  8  7  6  5  4  3  2  1<br>

In [24]:
#Write your code here
num = int(input("Enter a range"))
while(num>0):
    print(num,end='')
    num=num-1

Enter a range10
10987654321

6. Write a program to display the first 7 multiples of 7.

In [26]:
#Write your code here
for j in range(1,8):
    print(7*j)

7
14
21
28
35
42
49

7. Write a program to filter even and odd number from a list. <br>

**Hint**<br>
Given x = [10, 23, 24, 35, 65, 78, 90]<br>

Expected output <br>
Even numbers: [10, 24, 78, 90] <br>
Odd numbers: [23, 35, 65]<br>

In [30]:
#Write your code here
num=[10, 23, 24, 35, 65, 78, 90]
even_num=[]
odd_num=[]
for i in num:
    if i%2==0:
        even_num.append(i)
    else:
        odd_num.append(i)
            
print("EVEN NUMBERS = ", even_num)
print("ODD NUMBERS = ", odd_num)

EVEN NUMBERS =  [10, 24, 78, 90]
ODD NUMBERS =  [23, 35, 65]

8. Write a program using for loop to iterate from 0 to 100 and print the sum of all numbers.

In [32]:
#Write your code here
total = 0
for num in range(101):
    total += num
print("The sum of all numbers from 0 to 100 is:", total)

The sum of all numbers from 0 to 100 is: 5050

9. Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number. <br>

**Hint**<br>
Expected Output:<br>
Printing current and previous number sum in a range(10)<br>

Current Number 0 Previous Number  0  Sum:  0<br>
Current Number 1 Previous Number  0  Sum:  1<br>
Current Number 2 Previous Number  1  Sum:  3<br>
Current Number 3 Previous Number  2  Sum:  5<br>
Current Number 4 Previous Number  3  Sum:  7<br>
Current Number 5 Previous Number  4  Sum:  9<br>
Current Number 6 Previous Number  5  Sum:  11<br>
Current Number 7 Previous Number  6  Sum:  13<br>
Current Number 8 Previous Number  7  Sum:  15<br>
Current Number 9 Previous Number  8  Sum:  17<br>

In [34]:
#Write your code here
j = 0
for i in range(10):
    print("Current Number",i,"Previous Number",j,"Sum:",i+j)
    j = i

Current Number 0 Previous Number 0 Sum: 0
Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17

 10. Write a Python program to sum all the items in a list.

In [40]:
#Write your code here
list1 = [10, 20, 30, 40, 50]

total = 0
for i in list1: 
    total += i 
print("The sum of all elements in given list: ", total)

The sum of all elements in given list:  150

11. Write a Python program to multiply all the items in a list.

In [42]:
#Write your code here
list1 = [2, -2, 3, -1, 3]
result = 1
for y in list1: 
    result = result * y  
print(result)

36

12. Write a Python program to get the largest number from a list.

In [43]:
#Write your code here
list1 = [10, 20, 30, 40, 100] 
  
# printing the maximum element 
print("Largest element is:", max(list1))

Largest element is: 100

13. Write a Python program to get the smallest number from a list.

In [45]:
#Write your code here
list1 = [10, 20, 30, 40, 100] 
  
# printing the maximum element 
print("Smallest element is:", min(list1))

Smallest element is: 10

14. Write a Python program to remove duplicates from a list.<br>

**Hint**<br>
Input = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40] <br>
Expected Output: <br>
{40, 10, 80, 50, 20, 60, 30}

In [51]:
#Write your code here
lst = 10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40
lst = list(set(lst))
lst.sort()
print(lst)

[10, 20, 30, 40, 50, 60, 80]

15. Print characters from a string that are present at an even index number <br>


**Hint**<br>
Write a program to accept a string from the user and display characters that are present at an even index number.<br>

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.<br>

**Expected Output:**<br>
Orginal String is  pynative<br>
Printing only even index chars<br>
p<br>
n<br>
t<br>
v<br>

In [49]:
#Write your code here
str1 = input("Enter a string: ")

print("Original String is:", str1)
print("Printing only even index chars")

for x in range(0, len(str1), 2):
    print(str1[x])

Enter a string: pynative
Original String is: pynative
Printing only even index chars
p
n
t
v

16. Display numbers divisible by 5 from a list <br>

**Hint**<br>
Iterate the given list of numbers and print only those numbers which are divisible by 5<br>

**Expected Output:**<br>
Given list is  [10, 20, 33, 46, 55]<br>
Divisible by 5<br>
10<br>
20<br>
55<br>

In [55]:
#Write your code here
nums = [10, 20, 33, 46, 55]
print("Given list is", nums)
print("Divisible by 5")


for num in nums:
    if num % 5 == 0:
        print(num)

Given list is [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

17. Write a program to print all the elements of a list in single line. <br>

**Hint**<br>
num = [23,24,54,34]

**Expected output** <br>
23  24  54  34

In [54]:
#Write your code here
num = 23,24,54,34
for n in num:
    print(n, end=" ")

23 24 54 34

18. Write a program to count the number of items stored in a list. <br>

**Hint**<br>
num = [23, 34, ‘hello’, 32, 56]<br>

**Expected output**<br>
Total count of items are: 5

In [56]:
#Write your code here
num = [23, 34, 'hello', 32, 56]
count = len(num)
print("Total count of items are:", count)

Total count of items are: 5

19. Write a program to check whether a given key exists in a dictionary or not.<br>

**Hint**<br>
Given dict = {‘0’:1, ‘1’:2, ‘2’:3}<br>
**Input:**<br>
Enter value to check: 2<br>

**Expected output**<br>
Result: True

In [65]:
#Write your code here
dict1 = {'0': 1, '1': 2, '2': 3}
key_to_check = input("Enter value to check: ")

if key_to_check in dict1:
    print("Result: True")
else:
    print("Result: False")

Enter value to check: 2
Result: True

20. Write a program to iterate over dictionary items using for loop. <br>

**Hint**<br>
dict = {0:”Value 1″, 1:”Value 2″}<br>

**Expected output**<br>
Value of key 0 is Value 1<br>
Value of key 1 is Value 2<br>

In [57]:
#Write your code here
dict = {0: "Value 1", 1: "Value 2"}

for key, value in dict.items():
    print("Value of key", key, "is", value)

Value of key 0 is Value 1
Value of key 1 is Value 2